{% extends 'base.html.twig' %}

{% block title %}Liste des produits - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row">
            {% for product in products %}
                <div class="col-lg-3">
                    <div class="card mt-3 shadow">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p>{{ product.description }}</p>
                            {% if product.user %}
                                <p>Produit créé par {{ product.user.username }}</p>
                            {% endif %}
                            <p><strong>{{ product.price / 100 }} €</strong></p>

                            <a href="{{ path('product_show', {slug: product.slug}) }}"
                                class="btn btn-secondary"
                            >
                                Voir
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('product_edit', {id: product.id}) }}"
                                class="btn btn-success"
                                >
                                    Modifier
                                </a>
                                <!-- <a href="{{ path('product_delete', {id: product.id}) }}"
                                class="btn btn-danger"
                                onclick="return confirm('Etes-vous sûr ?')"
                                >
                                    Supprimer
                                </a> -->
                                <form action="{{ path('product_delete', {id: product.id}) }}"
                                    method="POST"
                                    class="d-inline"
                                    onclick="return confirm('Etes-vous sûr ?')"
                                >
                                    <input type="hidden" name="token" value="{{ csrf_token('delete-product-' ~ product.id) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <nav class="mt-5">
            <ul class="pagination">
                {% if page > 1 %}
                    <li class="page-item"><a class="page-link" href="{{ path('product_list', { page: page - 1 }) }}">Page précédente</a></li>
                {% endif %}
                {% for page in 1..max_page %}
                    <li class="page-item"><a class="page-link" href="{{ path('product_list', { page: page }) }}">{{ page }}</a></li>
                {% endfor %}
                {% if page < max_page %}
                    <li class="page-item"><a class="page-link" href="{{ path('product_list', { page: page + 1 }) }}">Page suivante</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
