<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">Demo Full</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            {% set current_route = app.request.get('_route') %}

            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ current_route == 'home' ? 'active' }}">
                    <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="nav-item {{ current_route == 'product_list' ? 'active' }}">
                    <a class="nav-link" href="{{ path('product_list') }}">Produits</a>
                </li>
                <li class="nav-item {{ current_route == 'product_create' ? 'active' }}">
                    <a class="nav-link" href="{{ path('product_create') }}">Créer un produit</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item">
                        {{ app.user.username }}
                    </li>
                {% else %}
                    <li class="nav-item {{ current_route == 'login' ? 'active' }}">
                        <a class="nav-link" href="{{ path('login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
